body {
    font-family: 'Raleway', sans-serif;
    min-width: 500px;
    max-width: 1800px;
    margin: auto;
    font-size: small;
}

* {
    box-sizing: border-box;
}

/* En-tete*/

header {
    display: flex;
    height: 80px;
    width: 100%;
}

img {
    width: 110px;
}

#logo {
    margin-right: 60%;
    position: relative;
    top: 30px;
    left: 30px;
    height: 50px;
}

nav {
    display: flex;
    width: 40%;
    justify-content: flex-end;
    align-items: center;
}

#H {
    display: block;
    width: auto;
    height: 30px;
    padding-top: 47px;
    padding-bottom: 28px;
    margin-right: 20px;

}

#A {
    display: block;
    width: auto;
    height: 30%;
    padding-top: 47px;
    padding-bottom: 28px;
    width: 50px;
    margin-left: 20px;
    margin-right: 40px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #0065FC;
}

#A:hover {
    border-top: 2.5px solid #0065FC;
}

#H:hover {
    border-top: 2.5px solid #0065FC;
}

/* La fin de mon en-tete*/

h1 {
    padding-top: 8px;
    padding-left: 30px;
    font-size: large;
    height: 20px;
}

p {
    padding-top: 1px;
    padding-left: 30px;
    font-size: small;
    font-weight: normal;
}

/* La barre de recherche*/
#Recherche {
    display: flex;
    justify-content: flex-start;
    padding-left: 25px;
}

.fa-location-dot {
    display: block;
    font-size: medium;
    padding: 13px 13px 13px 13px;
    background-color: #F2F2F2;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#saisi {
    font-weight: bold;
    font-size: medium;
    border: 2.5px solid #F2F2F2;
    border-left: none;
}

#bouton {
    background-color: #0065FC;
    border: none;
    font-size: medium;
    font-weight: bold;
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#bouton:active {
    background-color: white;
    color: #0065FC;
}

#boutonMobile {
    display: none;
}

/* Fin de la barre de recherche*/

/* Filtres en checkbox*/
#BlocFiltres {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    align-items: center;
    margin: auto;
}

h2 {
    padding: 0 15px 0 25px;
}

.Icones {
    display: flex;
    align-items: center;
    font-weight: bold;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
}



.Icones i {
    color: #0065fc;
    background-color: #deebff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: -11px;
    margin-right: 10px;
}

input[type="checkbox"].Filtres {
    display: none;
}

label {
    display: contents;
}

.Icones:hover {
    background-color: #deebff;
}

input[type="checkbox"].Filtres:checked+.Icones {
    background-color: #deebff;
}

/* Fin des filtres*/

#texte {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#texte i {
    color: #0065fc;
    padding-right: 10px;
}

#texte p {
    font-weight: normal;
    margin-left: -30px;

}

/* Conteneur pour les hébergements*/
#Conteneur-hébergements {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* Le bloc hébergements*/
#Bloc-hébergements {
    width: 60%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 15px;
}

#Bloc-hébergements h3 {
    width: 90%;
    font-size: x-large;
    margin-bottom: 0px;
}

.afficher-plus p {
    width: 100%;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

/* Le bloc populaire*/
#Bloc-populaire {
    width: 30%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 15px;
    min-width: 200px;
}

#Bloc-populaire h3 {
    font-size: x-large;
    margin-left: 35px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#en-tete-populaire i {
    font-size: x-large;
    margin-right: 30px;
}

#en-tete-populaire {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

/* Card d'hébergements*/

.Hébergements {
    width: 30%;
    height: 200px;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 6px 6px 5px lightgray;
}


.Hébergements img {
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 110px;

}

.Hébergements a {
    text-decoration: none;
    color: black;
}


.Description {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.Description h4 {
    font-size: large;
    margin: 0 0 -15px 0;
}

.Description p {
    font-size: medium;
    padding-left: 0;
}

.Notes {
    color: #0065FC;
    margin-top: -10px;
    font-size: smaller;
}

.grey {
    color: #F2F2F2;
}

.Hébergements span {
    font-weight: bold;
}

.Hébergements a:hover {
    color: #0065FC;
}

/* fin card d'hébergements*/
/* card plus populaire*/
.Populaire {
    padding: 5px;
    border-radius: 15px;
    box-shadow: 6px 6px 5px lightgray;
    width: 85%;
    height: 25%;
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.Populaire a {
    display: flex;
}

.hébergements-populaires {
    width: 35%;
    height: 100%;

}

.Populaire img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.Populaire a {
    text-decoration: none;
    color: black;
}

.Populaire h4 {
    font-size: large;
    margin-top: 10px;
}

.Description-populaire {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 5%;
}

.Description-populaire p {
    margin-top: -20px;
    font-size: medium;
    padding: 0;
}

.Populaire span {
    font-weight: bold
}

.grey {
    color: #F2F2F2;
}

.Notes-populaire {
    color: #0065FC;
}

.Notes-populaire {
    font-size: smaller;
}

.Populaire a:hover {
    color: #0065FC;
}
/* Activités */
#activités{
    height: 450px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
}
#activités h4{
    font-size: medium;
    text-align: left;
    margin-left: 20px;
    margin-top: 15px;
}
.grande-card{
    height: 80%;
    width: 20%;
    border-radius: 15px;
    box-shadow: 6px 6px 5px lightgray;
}
.bloc-image {
    height: 85%;
}
.grande-card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}
.deux-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    height: 80%;
}
#Fort{
    box-shadow: 6px 6px 5px lightgray;
    height: 50%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.petit-image {
    height: 70%;
}
#Fort img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}
#Iles{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 6px 6px 5px lightgray;
    height: 40%;
    border-radius: 15px;
}
#Iles img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}
#Notre-Dame{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 40%;
    border-radius: 15px;
    box-shadow: 6px 6px 5px lightgray;
}
#Notre-Dame img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}
#Parc-Longchamp{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 50%;
    border-radius: 15px;
    box-shadow: 6px 6px 5px lightgray;
}
#Parc-Longchamp img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}
#activités h3{
    font-size: x-large;
    width: 100%;
    height: 30px;
    margin-left: 35px;
}
#Notre-Dame h4{
    margin-left: 4%;
    margin-top: 4%;
}
/* Footer*/
    footer{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 200px;
        background-color: #F2F2F2;
        margin-top: 50px;
    }
    footer h5{
        font-size: large;
        padding-left: 0px;
    }
    footer ul{
        list-style: none;
        padding-left: 0;

    }
    footer li{
        margin-top: 10px;
    }
    #liste1{
        padding-left: 5%;
    }
    .liste{
        padding-left: 20%;
    }
    footer{
        font-size: medium;
    }

@media screen and (max-width: 992px) {
    #Conteneur-hébergements {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }

    #Bloc-populaire {
        width: 90%;
    }

    #Bloc-hébergements {
        width: 90%;
        margin-top: 30px;
    }
   
}

@media screen and (max-width: 768px) {

    /* En-tete pour mobile*/
    #logo {
        margin-left: 50%;
        margin-right: 60%;
        padding: 10px;
    }

    nav {
        width: 100%;
        justify-content: flex-start;
        height: 80px;

    }

    header {
        flex-wrap: wrap;
        justify-content: center;
    }

    #H {
        width: 50%;
        text-align: center;
        margin: 20px;
    }

    #A {
        width: 50%;
        text-align: center;
        margin: 20px;
    }

    #A:hover {
        border-top: hidden;
        border-bottom: 2.5px solid #0065FC;

    }

    #H:hover {
        border-top: hidden;
        border-bottom: 2.5px solid #0065FC;
    }

    /* Fin de l'en-tete*/

    h1 {
        padding-top: 50px;
        width: 80%;
        height: 80px;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        margin-bottom: -14px;
        margin: auto;
    }

    #P1 {
        width: 100%;
        height: 10px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    /* Barre de recherche mobile*/
    #Recherche {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
    }

    .fa-location-dot {
        padding: 12px;
    }

    #bouton {
        display: none;
    }

    #Mobile {
        display: none;
    }

    #boutonMobile {
        display: initial;
        display: block;
        font-size: medium;
        padding: 11px;
        background-color: #0065FC;
        color: white;
        border-radius: 10px;
        margin-left: -8px;
    }

    #saisi {
        height: 40px;
    }

    /* Fin barre de recherche mobile*/

    h2 {
        justify-content: center;
        width: 600px;
    }

    #texte p {
        text-align: left;
        margin-left: 0px;
        padding: 0px;
        height: 100%;
    }

    /* Conteneur hébergements*/
    #Bloc-hébergements {
        flex-direction: column;
        width: 90%;
        justify-content: space-around;
        height: auto;
        align-items: center;
        background-color: white;
        margin-bottom: 25px;
    }

    .Hébergements {
        width: 90%;
        height: 30%;
        margin-top: 3%;
    }

    #Bloc-hébergements h3 {
        text-align: center;
    }

    #Bloc-hébergements p {
        text-align: left;
    }

    #Bloc-populaire {
        border-radius: 0px;
    }
/* Activités mobile */
    #activités{
        margin-top: 25px;
        margin:auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        width: 90%;
    }
    .grande-card{
        width: 90%;
        height: 150px;
        margin-bottom: 20px;
    }
    .bloc-image{
        height: 70%;
    }
    .deux-cards {
        width: 90%;
        margin-bottom: 20px;
    }
    #Fort{
        margin-bottom: 20px;
        height: 150px;
    }
    #Iles{
        margin-bottom: 20px;
        height: 150px;
    }
    #Notre-Dame{
        margin-bottom: 20px;
        height: 150px;
    }
    #Parc-Longchamp{
        height: 150px;
    }
    #Notre-Dame h4{
        margin-left: 20px;
        margin-top: 15px;
    }
    footer{
        flex-direction: column;
        height: auto;
        align-items: left ;
        margin: auto;
    }
    .liste{
        padding-left: 5%;
    }
    #liste1{
        padding-left: 5%;
    }
}